{% extends 'base.html' %}
{% block content %}
  
<!-- <div class="col-lg-12 col-md-8 col-sm-12"> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
      <a class="navbar-brand" href="#">Bathroom Buddy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span><span class="hover"></span></a>
            <a class="nav-link" href="/">Search<span class="hover"></span></a>
            <a class="nav-link" href="/users/{{g.user.id}}/favorites">Favorites<span class="hover"></span></a>
            <a class="nav-link" href="/logout">Logout<span class="hover"></span></a>
        </div>
      </div>
   </nav>

<div class="container-home">
  <div class="home-page">
    <h1>Bathroom Buddy</h1>
        <p class="logo">We know you have to go! </p>
        <form class="form-wrapper cf" id="homeform" action="/search">
          <input type="text" class="searchbox" placeholder="Enter an address or zip code" required name="q">
          <button type="submit" class="btn btn-outline-danger ">Search</button>
        </form>
  </div>
</div>
<div class="spinner"></div> 
    
  {% endblock %}